<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="x-apple-disable-message-reformating" />
  <title>*|MC:SUBJECT|*</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&amp;display=swap" rel="stylesheet">

  <style type="text/css">
    .ctn {
      background-color: #edf2f7;
      text-align: center;
      padding: 15px;
      height: auto;
    }

    .box-btn {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .box {
      text-align: left;
      margin: auto;
      width: 50vw;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;
      height: auto;
    }

    .button {
      background-color: #3D4852;
      border: none;
      padding: 8px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      border-radius: 5px;
      text-decoration: none;
      color: #fff;
    }

    .text-line {
      color: #3D4852;
    }

    .footer {
      border-top: 1px solid #adb0b3;
      margin-top: 20px;
      padding-top: 20px;
    }
  </style>
</head>

<body>
  <div class="ctn">
    <h2 class="text-line" style="text-align: center;">
      Kiso
    </h2>
    <div class="box">
      <div class="text-line" style="font-weight: bold; margin-bottom: 15px;">
        Hello!
      </div>
      <div style="margin-bottom: 15px;">
        To verify your email, please use this code: <h3><b>{{code}}.</b></h3>
      </div>
      <div>
        Have a great day,<br />
        Kiso team
      </div>
      <div class="footer">
        <div style="margin-bottom: 15px;">Contact email:
          <a href="#">{{email}}</a>
        </div>
        <div style="margin-bottom: 15px;">Website:
          <a href={{website}}>{{website}}</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>